*.tfvars
.terraform*
*.tfstate*
*.tar.gz
*.tgz

values-override*.yaml

!jest.config.js
node_modules
.DS_stores
.DS_Store
dist

# CDK asset staging directory
.cdk.staging
cdk.out
**/cdk.out

.env
.env.local
.env.staging
.env.production
.env.development
.env.staging

__pycache__
.vscode
clusters

*.zip

coverage
dist
tmp
build
log
logs

.turbo
*.tsbuildinfo
out