services:
  # ===== HATCHET SECTION ======
  postgres-hatchet:
    image: postgres:15.6
    platform: linux/amd64
    command: postgres -c 'max_connections=200'
    restart: always
    hostname: "postgres-hatchet"
    environment:
      - POSTGRES_USER=${HATCHET_POSTGRES_USER}
      - POSTGRES_PASSWORD=${HATCHET_POSTGRES_PASSWORD}
      - POSTGRES_DB=${HATCHET_POSTGRES_DB}
    ports:
      - "5436:5432"
    volumes:
      - hatchet_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d hatchet -U hatchet"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    profiles:
      - hatchet

  rabbitmq:
    image: "rabbitmq:3-management"
    platform: linux/amd64
    hostname: "rabbitmq"
    ports:
      - "5673:5672" # RabbitMQ
      - "15673:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    volumes:
      - "hatchet_rabbitmq_data:/var/lib/rabbitmq"
      - "hatchet_rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf"
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 10s
      retries: 5
    profiles:
      - hatchet

  migration:
    image: ghcr.io/hatchet-dev/hatchet/hatchet-migrate:${HATCHET_TAG}
    platform: linux/amd64
    environment:
      DATABASE_URL: ${HATCHET_DATABASE_URL}
    depends_on:
      postgres-hatchet:
        condition: service_healthy
    profiles:
      - hatchet

  setup-config:
    image: ghcr.io/hatchet-dev/hatchet/hatchet-admin:${HATCHET_TAG}
    platform: linux/amd64
    command: /hatchet/hatchet-admin quickstart --skip certs --generated-config-dir /hatchet/config --overwrite=false
    environment:
      DATABASE_URL: ${HATCHET_DATABASE_URL}
      DATABASE_POSTGRES_PORT: "5432"
      DATABASE_POSTGRES_HOST: "postgres"
      SERVER_TASKQUEUE_RABBITMQ_URL: amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@rabbitmq:5672/
      SERVER_AUTH_COOKIE_DOMAIN: localhost:8080
      SERVER_AUTH_COOKIE_INSECURE: "t"
      SERVER_GRPC_BIND_ADDRESS: "0.0.0.0"
      SERVER_GRPC_INSECURE: "t"
      SERVER_GRPC_BROADCAST_ADDRESS: "hatchet-engine:7070"
    volumes:
      - hatchet_certs:/hatchet/certs
      - hatchet_config:/hatchet/config
    depends_on:
      migration:
        condition: service_completed_successfully
      rabbitmq:
        condition: service_healthy
      postgres-hatchet:
        condition: service_healthy
    profiles:
      - hatchet

  hatchet-engine:
    image: ghcr.io/hatchet-dev/hatchet/hatchet-engine:${HATCHET_TAG}
    platform: linux/amd64
    command: /hatchet/hatchet-engine --config /hatchet/config
    restart: on-failure
    depends_on:
      setup-config:
        condition: service_completed_successfully
      migration:
        condition: service_completed_successfully
    ports:
      - "7077:7070"
    environment:
      DATABASE_URL: ${HATCHET_DATABASE_URL}
      SERVER_GRPC_BIND_ADDRESS: "0.0.0.0"
      SERVER_GRPC_INSECURE: "t"
    volumes:
      - hatchet_certs:/hatchet/certs
      - hatchet_config:/hatchet/config
    profiles:
      - hatchet

  hatchet-api:
    image: ghcr.io/hatchet-dev/hatchet/hatchet-api:${HATCHET_TAG}
    platform: linux/amd64
    command: /hatchet/hatchet-api --config /hatchet/config
    restart: on-failure
    depends_on:
      setup-config:
        condition: service_completed_successfully
      migration:
        condition: service_completed_successfully
    environment:
      DATABASE_URL: ${HATCHET_DATABASE_URL}
    volumes:
      - hatchet_certs:/hatchet/certs
      - hatchet_config:/hatchet/config
    profiles:
      - hatchet

  hatchet-frontend:
    image: ghcr.io/hatchet-dev/hatchet/hatchet-frontend:${HATCHET_TAG}
    platform: linux/amd64
    restart: on-failure
    profiles:
      - hatchet

  caddy:
    image: caddy:2.7.6-alpine
    platform: linux/amd64
    restart: on-failure
    ports:
      - 8080:8080
      - 443:443
      - 80:80
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - hatchet-api
      - hatchet-frontend
    profiles:
      - hatchet

# ===== DATABASE SECTION =====
  greptile_postgres:
    image: pgvector/pgvector:pg15
    container_name: greptile_postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 2s
      timeout: 5s
      retries: 10

  greptile_db_migration_job:
    image: ${ECR_REGISTRY}/db-migration-job:${TAG}
    platform: linux/amd64
    depends_on:
      greptile_postgres:
        condition: service_healthy
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - DIRECT_URL=${DATABASE_URL}
      - VECTOR_DB_URL=${VECTOR_DB_URL}

  # ===== GREPTILE SECTION =====

  greptile_web_service:
    image: ${ECR_REGISTRY}/web:${TAG}
    platform: linux/amd64
    env_file:
      - .env
    environment:
      - AUTH_BOXYHQ_SAML_ISSUER=${AUTH_BOXYHQ_URL}
      - BILLING_ENABLED=${BILLING}
      - NEXT_PUBLIC_BILLING=${BILLING}
      - NEXT_PUBLIC_ANALYTICS=${ANALYTICS}
    ports:
      - "3000:3000"
    profiles:
      - greptile

  greptile_auth_service:
    image: ${ECR_REGISTRY}/auth:${TAG}
    platform: linux/amd64
    env_file:
      - .env
    ports:
      - "3001:3001"
    profiles:
      - greptile

  greptile_api_service:
    image: ${ECR_REGISTRY}/api:${TAG}
    platform: linux/amd64
    restart: on-failure
    env_file:
      - .env
    environment:
      - URL=${API_URL}
      - PORT=3002
    ports:
      - "3002:3002"
    profiles:
      - greptile

  greptile_indexer_chunker:
    image: ${ECR_REGISTRY}/chunker:${TAG}
    platform: linux/amd64
    restart: on-failure
    env_file:
      - .env
    environment:
      - PARENT_DIR=/mnt/data/
      - PORT=3003
    volumes:
      - shared-mnt:/mnt
    profiles:
      - greptile

  greptile_indexer_summarizer:
    image: ${ECR_REGISTRY}/summarizer:${TAG}
    platform: linux/amd64
    restart: on-failure
    env_file:
      - .env
    environment:
      - PARENT_DIR=/mnt/data/
      - PORT=3004
    volumes:
      - shared-mnt:/mnt
    profiles:
      - greptile

  greptile_webhook_service:
    image: ${ECR_REGISTRY}/webhook:${TAG}
    platform: linux/amd64
    restart: on-failure
    env_file:
      - .env
    environment:
      - PORT=3007
    ports:
      - "3007:3007"
    profiles:
      - greptile

  greptile_reviews_service:
    image: ${ECR_REGISTRY}/reviews:${TAG}
    platform: linux/amd64
    privileged: true
    cap_add:
      - SYS_ADMIN
    restart: on-failure
    env_file:
      - .env
    environment:
      - PORT=3005
    ports:
      - "3005:3005"
    profiles:
      - greptile
    volumes:
      - cloned_repositories:/mnt/efs

  greptile_jobs_service:
    image: ${ECR_REGISTRY}/jobs:${TAG}
    platform: linux/amd64
    restart: on-failure
    env_file:
      - .env
    environment:
      - PORT=8080
    ports:
      - "8086:8080"
    profiles:
      - greptile

  greptile_llmproxy_service:
    image: ${ECR_REGISTRY}/greptile/llmproxy:${TAG}
    platform: linux/amd64
    restart: on-failure
    environment:
      - PORT=4000
      - LITELLM_MASTER_KEY=${LITELLM_MASTER_KEY:-dummy-llm-proxy-key}
      - LLM_GATEWAY_CLIENT_SECRET=${LLM_GATEWAY_CLIENT_SECRET}
      # Map common.env variable names to what the config file expects
      - ANTHROPIC_BASE_URL=${ANTHROPIC_BASE_URL}
      - ANTHROPIC_API_KEY=${ANTHROPIC_KEY}
      - OPENAI_BASE_URL=${OPENAI_API_BASE_URL}
      - OPENAI_API_KEY=${OPENAI_KEY}
      - AZURE_OPENAI_BASE_URL=${AZURE_OPENAI_URL}
      - AZURE_OPENAI_API_KEY=${AZURE_OPENAI_KEY}
      - AZURE_OPENAI_API_VERSION=${AZURE_OPENAI_SUMMARIZER_API_VERSION:-2024-07-18}
      - DATABASE_URL="set_to_something_different"
    ports:
      - "4000:4000"
    volumes:
      - ./llmproxy-config.yaml:/app/config.yaml:ro

  # ===== SAML Auth Section ======
  # Deployed conditionally based on AUTH_SAML_ONLY environment variable
  greptile_jackson_service:
    image: boxyhq/jackson
    hostname: greptile_jackson_service
    platform: linux/amd64
    restart: on-failure
    profiles:
      - saml
    environment:
      - DB_ENCRYPTION_KEY=${JACKSON_DB_ENCRYPTION_KEY}
      - HOST_URL=${JACKSON_HOST_URL}
      - EXTERNAL_URL=${AUTH_BOXYHQ_URL}
      - JACKSON_API_KEYS=${AUTH_BOXYHQ_API_KEY}
      - SAML_AUDIENCE=${AUTH_BOXYHQ_SAML_ID}
      - CLIENT_SECRET_VERIFIER=${AUTH_BOXYHQ_SAML_SECRET}
      - NEXTAUTH_ADMIN_CREDENTIALS=${JACKSON_ADMIN_CREDENTIALS}
      - PUBLIC_KEY=${JACKSON_PUBLIC_KEY}
      - PRIVATE_KEY=${JACKSON_PRIVATE_KEY}
      - NEXTAUTH_URL=${AUTH_BOXYHQ_URL}
      - NEXTAUTH_SECRET=${JWT_SECRET}
      - IDP_ENABLED=${JACKSON_IDP_ENABLED:-true}
      - DB_URL=${DATABASE_URL}
      - DB_ENGINE=sql
      - DB_TYPE=postgres
      - DB_SSL_REJECT_UNAUTHORIZED=false
      - DB_SSL=${JACKSON_DB_SSL}
      - PORT=5225
      - AWS_REGION=${AWS_REGION}
      - DO_NOT_TRACK=1
    ports:
      - "5225:5225"

  greptile_llmproxy_service:
    image: ${ECR_REGISTRY}/llmproxy:${TAG}
    platform: linux/amd64
    restart: on-failure
    environment:
      - PORT=4000
      - LITELLM_MASTER_KEY=${LITELLM_MASTER_KEY:-dummy-llm-proxy-key}
      # Map common.env variable names to what the config file expects
      - ANTHROPIC_BASE_URL=${ANTHROPIC_BASE_URL}
      - ANTHROPIC_API_KEY=${ANTHROPIC_KEY}
      - OPENAI_BASE_URL=${OPENAI_API_BASE_URL}
      - OPENAI_API_KEY=${OPENAI_KEY}
      - AZURE_OPENAI_BASE_URL=${AZURE_OPENAI_URL}
      - AZURE_OPENAI_API_KEY=${AZURE_OPENAI_KEY}
      - AZURE_OPENAI_API_VERSION=${AZURE_OPENAI_SUMMARIZER_API_VERSION:-2024-07-18}
      - DATABASE_URL=postgresql://postgres:postgres@greptile_postgres:5432/litellm
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION_NAME=${AWS_REGION_NAME}
    ports:
      - "4000:4000"
    volumes:
      - ./llmproxy-config.yaml:/app/config.yaml:ro

volumes:
  pgdata: {}
  shared-mnt: {}
  hatchet_postgres_data: {}
  hatchet_rabbitmq_data: {}
  hatchet_rabbitmq.conf: {}
  hatchet_config: {}
  hatchet_certs: {}
  caddy_data: {}
  caddy_config: {}
  cloned_repositories: {}
