vpc_id            = "vpc-xxx"
ec2_subnet_id     = "subnet-xxx"
private_subnets   = ["subnet-xxx", "subnet-xxx"]
db_password       = "xxx"
ami_id            = "ami-<greptile-version>"
key_name          = "ami-key" #to be created in AWS and private key should be stored in your local machine to ssh
instance_type     = "t3.2xlarge" #we recommend 8vCPUs and 32 GB memory
