http://:8080 {
	handle /api/* {
		reverse_proxy hatchet-api:8080
	}

	handle /* {
		reverse_proxy hatchet-frontend:80
	}
}

http://:3000 {
	handle /* {
		reverse_proxy greptile-web:3000
	}
}

http://:3007 {
	handle /* {
		reverse_proxy greptile-webhook:3007
	}
}

http://127.0.0.1:5225 {
	handle /* {
		reverse_proxy saml-jackson:5225
	}
}